.blogsHeader{
  padding: 2em;
}

.blogCont
{
  margin-top: 2em;
  height: 400px;
}

.jumbotron .blogPost{
  font-size: small;

}

.jumbotron#blogTron {
  height: 400px;
  width: 320px;
  padding-top: 0;
  padding-left: 1em;
  overflow: scroll ;
  background-color: slategray;
}
